 @import url('https://fonts.googleapis..com/css/css?family=poppins:300,400,')
*
{
	outline: none !important;
}
body{
	font-family: 'poppins', sans-serif;
	background-color: black;
}
header{
	position: relative;
	z-index: 1000000;

}
p{
	font-size: 1.15rem;
}
.navbar{
	transition: 0.5s;
}
.navbar.scrolled{
	background-color: #000  !important;
	transition: 0.5s;
}
.bg-light {
    background-color: rgba(0,0,0,.9)!important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #ffc107;
    background-color: red;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link :focus
{
	color: #fff;
	background-color: #ffc107;
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited 
{
    color: #ffc107;
    font-size: 2.5rem;
    font-weight: 600;
}
.navbar-toggler{
	background-color: #ffc107;
}
.Feedback-img{
	width: 100%;
	height: 750px;
}
#feedback11{
	background-color: white;
	width: 100%;
	height: 750px;
}
#col-arg{
	margin-top: 125px; 
	margin-left: 70px;
	border-radius: 10px; 
	background-color: #c7d3bf; 
	width: 70%;
}
.form-control{
	background:transparent;
	border:none;
	border-bottom: 2px solid rgba(255,255,255,.2);
	height: 50px;
	border-radius: 0;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	font-size: 1.25rem;
	border-radius: 10px;
}
.form-control:focus,
.form-control:hover{
	border:none;
	border-bottom: 2px solid rgba(255,255,255,1);
	box-shadow: none;
}
.textarea{
	min-height: 5vh;
}

.btnD1{
	border: 2px solid #fff;
	color: #fff;
	background-color: #000;
	border-radius: 50px;
	padding: 10px 40px;
	font-size: 1.15rem;
	outline: none;
	font-weight: 500;
	margin-top: 20px;
}
.btnD1:hover{

}
 /*start footer*/

.footer{
	background-color: #000 ;
	padding: 50px 0 0;
}
.sci{
	margin-top: 50px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sci li{
	list-style: none;
	margin: 0 20px;
}
.sci li a{
	color: #e9dede;
	font-size: 2em;
	transition: 0.5s;
}
.sci li a:hover{
	color: red;
}
.cpryt{
	margin-top: 20px; 
	text-align: center;
	color: #e9dede;
}
.cpryt a,
.cpryt a:hover{
	color: #e9dede;
}

/*End-footer*/
